.h1 {
  background-image: url("../assets/main-bg.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.h2 {
  background-image: url("../assets/data-flow.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  height: 800px;
  // background-image: linear-gradient(rgba(lightblue, 0.4), rgba(75, 187, 206, 0.1)),
  // url("../assets/data-flow.png");
}

.h1headinga {
  padding-top: 60px;
  font-size: 20px;
  color: rgb(75, 187, 206);
  text-align: center;
}

.headinghome {
  color: rgb(75, 187, 206);
  text-align: center;
  margin-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logosize {
  
  width: 20em;
}

.dataflow {
  background-image: linear-gradient(rgba(lightblue, 0.4), rgba(plum, 0.4)),
}
// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   color: #fff
// }


// body {
//   height: 1000px;
//   margin: 20px 60px 60px 60px;
//   font-size: 18px;
//   background-image: url("../assets/log1.jpg");
//   background-repeat: repeat-y;
//   background-position: center;
//   background-size: cover;
// }


// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: #266ba8;
// }

// li {
//   float: left;
// }

// li a {
//   display: block;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// input {
//   margin-left: 10px;
// }

// .float-right {
//   float: right;
// }

// li a:hover {
//   background-color: #888;
// }

// .active {
//   background-color: #4CAF50;
// }

// label {
//   padding: 10px;
// }

// button {
//   background-color: #266ba8;
//   color: #fff;
//   padding: 5px 12px;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   border-radius: 12px;
//   margin: 10px;
// }



// .inventory-list-container{
//   text-align: center;
//   margin: 0 auto;
//   ul {
//     background-color: rgba($color: #aaa, $alpha: .08);
//     padding: 0.2em;
//     text-align: center;
//     margin: auto;

//     li {
//       width: 29%;
//       height: 1em;
//       padding: 0.5em;
//       border-style: solid;
//       border-width: 1px;
//       text-align: center;
//     }
//   }
// }
